.default-sortable .rank-list {
  flex: 1 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  min-height: 45px;
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: thin;	
}